# ========== PYTHON / DJANGO ==========
backend/venv/
__pycache__/
*.pyc
*.pyo
*.db
*.sqlite3
.env

# ========== NODE / REACT ==========
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# ========== EDITORES ==========
.vscode/
.idea/
*.swp
*.swo

# ========== SISTEMA ==========
.DS_Store
Thumbs.db